<footer>
    <div class="footer">
        <img class="pb-4" src="assets/logo_footer.png" alt="">
        <p class="pt-5">Contacto</p>
        <p>Teléfono: (0264) 155 447526</p>
        <p>Email: facuyessi1@gmail.com</p>
        <p>San Juan - Argentina</p>
        <div class="footer-icons pt-4">
            <a href="https://fontawesome.com/icons/square-facebook?f=brands&s=solid&sz=2xl" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
        </div>
    </div>
</footer>