<!-- <p>seccion nuestra empresa</p>
<div class="container">
    <div class="left-side">
        <h2>Nuestra Empresa: Ideas Enjoy</h2>
        <img src="assets/logo_footer.png" alt="Descripción de la imagen">
    </div>
    <div class="right-side">
        <p>Ideas Enjoy es una empresa familiar con profunda trayectoria, arraigada al pie de la majestuosa Cordillera de
            Los Andes, en San Juan, Argentina. Nos enorgullece haber construido, año tras año, una red sólida que no
            solo abarca negocios, sino también relaciones duraderas con nuestros clientes, a quienes consideramos
            amigos. Cada proyecto que emprendemos es imbuido con un toque personal y artístico, reflejando nuestro
            compromiso con el detalle y la eficiencia, pilares de nuestro éxito. En Ideas Enjoy, cada obra es un reflejo
            de nuestra pasión por lo que hacemos y de nuestra dedicación a quienes nos eligen.</p>
    </div>
</div> -->