<div class="container">

    <carousel class="imagen1" [pauseOnFocus]="true">
        <slide>
            <img src="assets/slider_home/1.svg" alt="first slide" style="display: block; width: 100%;">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div> -->
        </slide>
        <slide>
            <img src="assets/slider_home/2.svg" alt="second slide" style="display: block; width: 100%;">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div> -->
        </slide>
        <slide>
            <img src="assets/slider_home/3.svg" alt="third slide" style="display: block; width: 100%;">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div> -->
        </slide>
        <slide>
            <img src="assets/slider_home/4.svg" alt="third slide" style="display: block; width: 100%;">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div> -->
        </slide>
        <slide>
            <img src="assets/slider_home/5.svg" alt="third slide" style="display: block; width: 100%;">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div> -->
        </slide>
        <slide>
            <img src="assets/slider_home/6.svg" alt="third slide" style="display: block; width: 100%;">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div> -->
        </slide>
    </carousel>

    <div class="texto">
        <span class="texto-derecha">
            <h1><strong>Outdoor en San Juan:</strong></h1>Donde el Exterior se Transforma en Arte
        </span>
        <div class="separador"></div>
        <span class="texto-izquierda">Vive la esencia del aire libre transformando tus espacios con Ideas Enjoy.
            Nuestras pérgolas y estructuras de cerramiento, elegantes y de alta calidad, optimizan protección solar,
            seguridad y privacidad. Con experiencia y atención personalizada, garantizamos productos excepcionales y un
            valor sin igual. Haz realidad tu espacio exterior ideal con nosotros.</span>
    </div>
    <div class="imagen2">
        <img style="width: 100%;" src="assets/slider_home/1.svg" alt="">
    </div>
</div>