<div class="text-center">
  <div class="row">
    <div class="col1 col-lg-6 order-lg-5 p-0">
      <h1 class="display-1 p-5">
        Nuestro Trabajo: <br /><span style="color: #383838">Ideas Enjoy</span>
      </h1>
      <img
        src="https://s3-alpha-sig.figma.com/img/18d5/8d1e/b16407c47eebab198c4a7825539dd159?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=K-EVZbECCj0xlbZeDbYwxrCg3O~GGkIDCcFNverH7--pErbvmhVfeBWHcuw-zqu3lr-S8T0PXkpBNyzQ6Dx1oaNzPAupVlSthdVDp1HSNmf-Mdv6x44Vbs0~eBQl89s4mgC~kvuxaSWSSzwsgz9xBkHb4wqkHPpSdGeRBWtVc7Bj3OpUiomvkjBk5Bc9KvcF1ht-ppoXlxom-QmWqAGV-tWGR~YR3hESMMB5kn~jT5R04GSzlpQCTDmNDuWJzZV8WC5gKFJTjadDtWkcMsilxzWzPmjmc3lEA9FxsmKYTCKFojc8gPVR0fxbo~stVbxSXdvwyvtc7lvLkEouLrc-UA__"
        alt="Welding"
      />
    </div>

    <div class="col2 col-lg-6 p-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur alias ab
      sequi, beatae dolore provident nam doloremque repellendus corporis tempore
      eligendi porro rem, adipisci explicabo quasi delectus vero quod?
      <br /><br />
      Similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
      enim nemo quia? Eos, dolorum qui. Facere qui nam molestiae provident,
      optio doloremque libero repellendus, eveniet sapiente enim perferendis,
      dolor voluptatibus?
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptatem
      ipsa explicabo, voluptatibus, officia impedit in enim nesciunt sit at
      odit. Eveniet tempora illo maxime debitis dolor provident labore
      cupiditate?
    </div>
  </div>
</div>
